.widget-chart-one-dashboard .widget-heading-dashboard .tabs a {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 5px 7px ;
    /* background: #3c5676; */
    color: rgb(56, 62, 80);
    border-radius: 4px;
    font-family: "spartan", sans-serif;
}
a#tb_1latest {
    font-size: 18px;
}
.widget-chart-one-dashboard .widget-heading-dashboard .tabs {
    padding: 0;
    margin: 0;
}
.widget-chart-one-dashboard .widget-heading-dashboard .tabs li {
    display: inline-block;
    list-style: none;
    padding: 0 0;
}
.widget-chart-one-dashboard .table > thead > tr > th {
    border-top: none;
    font-weight: 600;
    color: rgb(73, 80, 88);
    text-transform: capitalize;
}
.dashboard-title {
    font-size: 30px;
    font-weight: 600;
    font-family: "spartan", sans-serif;
}
.dashboard-sub-title {
    font-size: 14px;
    font-weight: 400;
}
a.btn.btn-xs {
    color: #fff;
    background-color: #3c5676 !important;
    border-color: #3c5676 !important;
}
select#pet-select {
    background-color: #f4f5f9;
    border: 2px solid #f4f5f9;
    border-radius: 4px !important;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    font-size: 13px;
    color: #4f5d77;
    /* width: 300%; */
}
.widget-content-area-dashboard {
    padding: 30px 0px 20px 0;
    position: relative;
    background-color: #fff;
    /* border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px; */
    border-bottom: 1px solid rgba(222, 226, 230, 0.7);
    /* width: 100%; */
}
input#start {
    background-color: #f4f5f9;
    border: 2px solid #f4f5f9;
    border-radius: 4px !important;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    font-size: 13px;
    color: #4f5d77;
}
.widget-heading-dashboard {
    padding-bottom: 17px;
}
a.btn.btn-primary-dashboard {

    background-color: #3d5677;
    color: #fff;
    border-color: #3d5677;
}
.form-control {
    font-size: 13px;
}
.table > thead > tr > th {
    text-transform: capitalize;
}
.page-item.active .page-link {
    background-color: #3c5676;
    border-color: #3c5676;
}
.page-link:hover {
    color: #3c5676;
}
.btn-primary-log{
    color: #fff !important;
    background-color: #3c5676 !important;
    border-color: #3c5676;
}
